<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link rel="stylesheet" href="Header.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" :class="{show: IsCollapsed || scrollPosition > 300}">
        <button class="navbar-toggler navbar-toggler-right"  @click="IsCollapsed=!IsCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand logo-mobile" href="#" @click="IsCollapsed = false"><img src='/assets/logo.png'></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" :class="{show: IsCollapsed}">
            <ul class="navbar-nav  mr-auto" :class="{menuMobile: IsCollapsed}">
                <li class="nav-item logo-desktop">
                    <a href="#top"  @click="SelectMenuItem(999)"><img src='/assets/logo.png'></a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 0}">
                    <a class="nav-link" href="#service" @click="SelectMenuItem(0)">послуги</a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 1}">
                    <a class="nav-link" href="#aboutus" @click="SelectMenuItem(1)">про нас</a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 2}">
                    <a class="nav-link" href="#equipment" @click="SelectMenuItem(2)">обладнання</a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 3}">
                    <a class="nav-link" href="#gallery" @click="SelectMenuItem(3)">фото</a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 4}">
                    <a class="nav-link" href="#clients" @click="SelectMenuItem(4)">клієнти</a>
                </li>
                <li class="nav-item" :class="{active: ActiveIndex == 5}">
                    <a class="nav-link" href="#contact" @click="SelectMenuItem(5)">контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link social">
                        <img class="socIcon" src='./../../assets/youtube.png'>
                        <img class="socIcon" src='./../../assets/facebook.png'>
                        <img class="socIcon" src='./../../assets/instagram.png'>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
</body>
</html>